{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comentario</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comentario.id }}</td>
            </tr>
            <tr>
                <th>Comentario</th>
                <td>{{ comentario.comentario }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{% if comentario.fechaCreacion %}{{ comentario.fechaCreacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechaactualizacion</th>
                <td>{% if comentario.fechaActualizacion %}{{ comentario.fechaActualizacion|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('comentarios_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('comentarios_edit', { 'id': comentario.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
